<!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="row double align-center">
            <div class="12u">
                <ul class="icons">
                    <li><a href="https://github.com/getgareth" target="_blank" class="icon fa-github"><span class="label">Github</span></a></li>
                    <li><a href="https://twitter.com/craftsmenlabs" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="mailto:info@craftsmenlabs.nl" class="icon fa-envelope"><span class="label">Mail</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
