<!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="row double">
            <div class="6u">
                <div class="row collapse-at-2">
                    <div class="6u">
                        <ul class="alt">
                            <li><a href="http://www.gnu.org/licenses/gpl-2.0.en.html">GNU General Public License v2.0</a></li>
                        </ul>
                        <img src="/getgareth.github.io/images/gareth-logo.png" class="lean-image">
                    </div>
                </div>
            </div>
            <div class="6u">
                <h2>Contribute?</h2>
                <p>Are you interested? Please be our guest and try Gareth. Gareth is open source (GNU General Public License v2.0) so that we all can benefit. Do you want to contribute in any way? Please let us know! We are really looking forward to hearing from you.</p>
                <ul class="icons">
                    <li><a href="https://github.com/getgareth" class="icon fa-github"><span class="label">Github</span></a></li>
                </ul>
            </div>
        </div>
        <ul class="copyright">
            <li>Gareth is open source under the GNU General Public License v2.0</li>
        </ul>
    </div>
</footer>
