<!-- Footer -->
<footer id="footer">
    <div class="container">
      <div class="row collapse-at-2">
          <div class="3u">
              <ul class="alt">
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/backlog.html">Backlog validation</a></li>
                <li><a href="{{ site.baseurl }}/objectives.html">Business goal validation</a></li>
                <li><a href="{{ site.baseurl }}/slides.html">Slides</a></li>
                <li><a href="{{ site.baseurl }}/blog.html">Blog</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
          </div>
          <div class="6u double align-footer-c">
              <ul class="icons">
                  <li><a href="https://github.com/getgareth" target="_blank" class="icon fa-github"><span class="label">Github</span></a></li>
                  <li><a href="https://twitter.com/craftsmenlabs" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                  <li><a href="mailto:info@craftsmenlabs.nl" class="icon fa-envelope"><span class="label">Mail</span></a></li>
              </ul>
          </div>
          <div class="3u align-footer-r">
              <p class="small">Gareth is created by:<br>
              <a href="http://craftsmenlabs.nl/" target="_blank"><img src="/images/craftmenlabs-logo-final-small.png" class="image small"/></a></p>
          </div>
      </div>
    </div>
</footer>
