<!-- Header -->
<header id="header" class="skel-layers-fixed">
    <!--h1><a href="{{ site.baseurl }}/" class="site-title" >{{ site.title }}</a></h1-->
    <a href="{{ site.baseurl }}/"><img src="/images/gareth-logo-big.png" class="logo" alt="Gareth Logo"></a>
    <nav id="nav">
        <ul>
            <li><a href="{{ site.baseurl }}/">home</a></li>
            <!--li><a href="{{ site.baseurl }}/pricing.html">pricing</a></li-->
            <li><a href="{{ site.baseurl }}/backlog.html">backlog validation</a></li>
            <li><a href="{{ site.baseurl }}/objectives.html">business goal validation</a></li>
            <li><a href="{{ site.baseurl }}/slides.html">slides</a></li>
            <li><a href="{{ site.baseurl }}/blog.html">blog</a></li>
            {% for page in site.pages %}
                  {% if page.title %}
                    <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                  {% endif %}
            {% endfor %}
          </ul>
    </nav>
  </header>
