<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner" class="with-image ">
            <div class="inner">
              <div class="inside-inner-wide">
                <h2>Gareth backlog validation</h2>
                <p>Garbage in - garbage out! This decades old statement still remains prevalent in today’s agile way of working. It is crucial to create and maintain an overview of the quality of input. By measuring and reporting over the quality companies can finally control their requirement processes.</p>
                <br>
                <ul class="actions">
                    <li><a href="#contact" class="button big alt-redtxt">get Gareth</a></li>
                </ul>
                <br>
              </div>
            </div>
        </section>

        {{ content }}
        {% include /contact.html %}
        {% include /to-blog.html %}
        {% include /footer.html %}

    </body>

</html>
