<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner" class="white-banner">
            <div class="inner">
              <div class="inside-inner-wide">
                <h2>Gareth backlog validation</h2>
                <p>It is hard to create and maintain an overview of the input that is so crucial for the end result. By measuring and reporting over the quality of both the individual backlogs as the overall portfolio companies can control their requirement processes much better.</p>
              </div>
            </div>
        </section>

        {{ content }}
        {% include /contact.html %}
        {% include /to-blog.html %}
        {% include /footer.html %}

    </body>

</html>
