<!DOCTYPE html>
<html>

  {% include /head.html %}
  {% seo %}
  
	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <div class="inside-inner-wide">
                  <h2>Start building the right things right</h2>
                  <hr class="less-margin">
                  <p>The continuous business goal and requirements validation platform.</p>
                </div>
                <br>
                <ul class="actions">
                    <li><a href="#contact" class="button big alt">Get Gareth</a></li>
                </ul>
            </div>
            <div class="row">
                <div class="inner">
                    <div class="inside-inner-wide">
                        <img src="images/macbook-dashboard.png" class="image small"/>
                    </div>
                </div>
            </div>
        </section>
        {{ content }}
        {% include /contact.html %}
        {% include /to-blog.html %}
        {% include /footer.html %}

    </body>

</html>
