<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <div class="inside-inner">
                  <h2>Start building the right things right</h2>
                  <p>The continuous business goal and requirements validation platform.</p>
                </div>
            </div>
        </section>
        {{ content }}
        {% include /contact.html %}
        {% include /to-blog.html %}
        {% include /footer.html %}

    </body>

</html>
