<!DOCTYPE html>
<html>

  {% include /head.html %}
  {% seo %}

	<body id="top">

        {% include /header.html %}

          <!-- Banner -->
          <section id="banner" class="white-banner ">
              <div class="inner">
                <div class="inside-inner-wide">
                  <h2>Business goal validation</h2>
                  <p>We know the world changes and, in order to be competitive, so must your software. That’s why we invented continuous validation. It’s vital to know that your goals are still achieved after changing parts of the software. Sometimes one feature makes another unneeded. If so, with continuous validation you'll know.</p>
                  <br>
                  <ul class="actions">
                      <li><a href="#contact" class="button big alt-redtxt">get Gareth</a></li>
                  </ul>
                  <br>
                </div>
              </div>
          </section>

        {{ content }}
        {% include /contact.html %}
        {% include /to-blog.html %}
        {% include /footer.html %}

    </body>

</html>
