<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <div class="inside-inner">
                  <h2>Flexible plans for any company of any size</h2>
                  <p>All plans include the full functionality version of Gareth and unlimited users.</p>
                </div>
        </section>

        {{ content }}
        {% include /contact.html %}
        {% include /footer.html %}

    </body>

</html>
